.subLabels{
    -fx-font-family: "Nirmala UI";
    -fx-font-size: 13;
}

.loginBG {
    -fx-background-color: rgb(244, 236, 236);
}

.leftBG{
    -fx-background-image: url(images/marc-yusufu-zF-QWye2vNQ-unsplash.jpg);
    -fx-background-size: cover;
}

.rightBG {
    -fx-background-color: rgb(244, 236, 236);
    -fx-background-radius: 20;
}

.header{
    -fx-font-family: "Century Schoolbook";
    -fx-font-size: 25;
}



/* style for admin and member account*/
.accountLabels {
    -fx-font-family: "Nirmala UI";
    -fx-font-weight: bold;
}

.startLabels {
    -fx-alignment: center;            /* centers text inside the Label */
    -fx-text-alignment: center; 
    /* useful for multiline text */
    -fx-transition: all 0.2s ease-in-out;
}

.startLabels:hover {
    /*-fx-underline: true;*/
    -fx-scale-x: 1.05;                     /* Slightly scale up */
    -fx-scale-y: 1.05;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 3);*/
}

.signinPagebutton {
    -fx-background-color: rgba(255, 219, 219, 0.51); /* #ffdbdb82 */
    -fx-border-color: dimgray;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-text-alignment: center;
    -fx-alignment: center;          /* center text horizontally and vertically */
    -fx-pref-height: 22px;          /* fixed height */
    -fx-pref-width: 80px;           /* fixed width */
    -fx-cursor: hand;               /* cursor pointer on hover */
    -fx-font-size: 14px;            /* adjust font size if needed */
    -fx-transition: all 0.2s ease-in-out;
}

.signinPagebutton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.back {
    -fx-transition: all 0.2s ease-in-out; /* Smoothness for using effects */
}

.back:hover {
    -fx-text-fill: #0078D7;              /* Hover color */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.back:pressed {
    -fx-text-fill: #004c99;              /* Clicked color */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.alertLogin {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-padding: 5px 0 0 0;
}

@media only screen and (max-width: 600px){

    
}

.user-left-layout{
    -fx-background-color: rgba(255, 219, 219, 0.38);
    -fx-spacing: 5;
    -fx-pref-width: 102;
}

.user-page-buttons {
    -fx-background-color: rgba(255, 219, 219, 0.51); /* #ffdbdb82 */
    -fx-border-style: hidden;
    -fx-border-color: dimgray;
    -fx-border-width: 0.7;
    -fx-border-radius: 2;           /*radius of each corner of border*/
    -fx-text-alignment: center;
    -fx-alignment: center;          /* center text horizontally and vertically */
    -fx-pref-height: 55;          /* fixed height */
    -fx-pref-width: 100;           /* fixed width */
    -fx-cursor: hand;               /* cursor pointer on hover */
    -fx-font-size: 13;
    -fx-transition: all 0.5s ease-in-out;
    -fx-effect: dropshadow(gaussian, rgba(255, 219, 219, 0.51), 5, 0, 0, 2);

}
.user-page-buttons:hover {
    -fx-float: left;
    -fx-text-fill: rgba(255, 255, 255, 0.99);
    -fx-background-color: rgba(0, 0, 0, 0.36);
}
.user-page-buttons:focused{
     -fx-text-fill: rgba(255, 255, 255, 0.99);
     -fx-background-color: rgba(0, 0, 0, 0.36);
}


.corner-header {
    -fx-font-family: "Century Schoolbook";
    -fx-font-size: 13;
    -fx-wrap-text: true;
    -fx-text-overrun: clip;
    -fx-underline: true;
}

.corner-box {
    -fx-background-color: rgba(216, 27, 27, 0.45);
    -fx-border-color: gray;
}

ScrollPane {
    -fx-background-color: transparent;
    -fx-scroll-behavior: smooth;
    -fx-overflow-y: scroll;
}
.thumb{
    -fx-background-color: rgba(91, 99, 96, 0.6);
}
.track{
    -fx-background-color: rgba(251, 234, 234, 0.46);
}

/*alert-style*/
.custom-alert {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #f0f4f8;
    -fx-padding: 20px;
}

.custom-alert .content {
    -fx-text-fill: #333333;
}

.custom-alert .button-bar .button {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.custom-alert .button-bar .button:hover {
    -fx-background-color: #005a9e;
}


.pop-up-labels {
    -fx-font-family: "Nirmala UI Semilight";
    -fx-font-size: 18;
    -fx-background-color: rgb(244, 236, 236);
    -fx-alignment: center;

}
