.subLabels{
    -fx-font-family: "Nirmala UI";
    -fx-font-size: 13;
}
.loginBG {
    -fx-background-color: rgb(244, 236, 236);
}
.header{
    -fx-font-family: "Century Schoolbook";
    -fx-font-size: 25;
}
VBox{
    -fx-background-color: rgb(251, 234, 234);
}

.conerHeader {
    -fx-background-color: rgba(216, 27, 27, 0.45);
    -fx-border-color: gray;
}
