.subLabels{
    -fx-font-family: "Nirmala UI";
    -fx-font-size: 13;
}

.loginBG {
    -fx-background-color: rgb(244, 236, 236);
}

.leftBG{
    -fx-background-image: url(images/marc-yusufu-zF-QWye2vNQ-unsplash.jpg);
    -fx-background-size: cover;
}


.header{
    -fx-font-family: "Century Schoolbook";
    -fx-font-size: 25;
}
VBox{
    -fx-background-color: rgb(251, 234, 234);
}

.conerHeader {
    -fx-background-color: rgba(216, 27, 27, 0.45);
    -fx-border-color: gray;
}
/* style for admin and member account*/
.accountLabels {
    -fx-font-family: "Nirmala UI";
    -fx-font-weight: bold;
}

.startLabels {
    -fx-alignment: center;            /* centers text inside the Label */
    -fx-text-alignment: center;       /* useful for multiline text */
}

.startLabels:hover {
    /*-fx-underline: true;*/
    -fx-scale-x: 1.05;                     /* Slightly scale up */
    -fx-scale-y: 1.05;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 3);*/
}

@media only screen and (max-width: 600px){

    
}

